
body {
    top: 0; left: 0;
    width:  100%;
    height: 100%;
    overflow: hidden;
    touch-action: pan-x pan-y;
}

#fps_counter {
    position: absolute;
    top: 0px; left: 12px;

    color: black;
    font-weight: 1500;
}

#display {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    border: solid 4px black;
    border-radius: 4px;
    box-shadow: 0 5px 8px black;
}